.WEBNAV {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a2faa3;

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  overflow: visible;
  z-index: 1;
}
.logo {
  height: 5.2rem;
}
.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #3d5f3d;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.search-box {
  width: 250px;
  background: #f3f3f3;
  border-radius: 5px;
  position: relative;
}

.row {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  height: 40px;
}

input {
  flex: 1;
  height: 20px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 14px;
  color: #333;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

button .fa-solid {
  width: 25px;
  color: #555;
  font-size: 15px;
  cursor: pointer;
}

::placeholder {
  color: #555;
}

.result-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.result-box ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  border-top: 1px solid #ccc;
}

.result-box li {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
}

.result-box ul li:hover {
  background: #a2faa3;
}

img {
  width: 125px;
  height: 125px;
}
.wrapper {
  position: relative;
  width: 1250px;
  height: 500px;
  margin: 0 auto;
  background: url(file:///Users/soch2028/Desktop/Personal%20Project/GameSetGear/images/homepage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}

.textonimg {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Mogra" "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  text-align: center;
  top: 80%;
  width: 100%;
  font-weight: 900;
  color: #fff;
}
.popularcategories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.popularcategories {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.popularcategories img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
