.WEBNAV {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a2faa3;

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 5.2rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #3d5f3d;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.search-container {
  position: relative;
  width: 50px;
  transition: width 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 0%;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: #f1f1f1;
  outline: none;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.search-container:focus-within {
  width: 200px;
}

img {
  width: 125px;
  height: 125px;
}
.wrapper {
  position: relative;
  width: 1250px;
  height: 500px;
  margin: 0 auto;
  background: url(file:///Users/soch2028/Desktop/Personal%20Project/GameSetGear/images/homepage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
}

.textonimg {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Mogra" "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  text-align: center;
  top: 80%;
  width: 100%;
  font-weight: 900;
  color: #fff;
}
.popularcategories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.popularcategories {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.popularcategories img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
