.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a2faa3;

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 5.2rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #3d5f3d;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.search-container {
  position: relative;
  width: 50px;
  transition: width 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 50%;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: #f1f1f1;
  outline: none;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.search-container:focus-within {
  width: 200px;
}

img {
  width: 125px;
  height: 125px;
}
